.div1{
	display:flex;
	    box-sizing: border-box;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.heading{
	width:70vw;
	color:blue;
	padding:10px;
	border: solid 1px grey;
	background-color: lightgrey;
	opacity: .5;
	border-radius: 5px;
	margin: 0;
	display:flex;
	justify-content: center;
	
}
p{
	width:70vw;
	padding:10px;
	display: none;
	margin:0;
	background-color: lightgrey;
	opacity: .8;
	border:solid 1px grey;
	border-radius: 5px;
	justify-content: center;

}